<h1>You're latest entry, <%= @entry.user.name %></h1>

<p><b> Title: <i><%= @entry.title %> </i></b></p>
<p> Text:<%= simple_format(@entry.post) %> </p>


<%= link_to "Edit Entry", edit_user_entry_path(@entry.user, @entry)%>