<h1>You're latest entry, <%= @entry.user.name %></h1>

<p> Title: <%= @entry.title %> </p>
<p> Text:<%= simple_format(@entry.post) %> </p>

<p>Possible Topics: <%= @entry.possible_topics.first %> </p>