<script>

function showPost() {
let postDisplay = document.querySelector("body > div.posthere")
let buttonText = document.querySelector("body > button")

if (    postDisplay.innerHTML === "") {
    postDisplay.innerHTML = `
    <%= @entry.post %> 
    `
    buttonText.innerText = "Hide Post ?"
} else {
    postDisplay.innerHTML = ""
    buttonText.innerText = "Show  Post ?"
}
}


    

</script>



<h1>Enter Topic Keywords here, <%= @entry.user.name %></h1>

<h3> Entry Title: <i> <%= @entry.title %> </i> </h3>

<h5> Entry Date:  <%= @entry.custdate %>  </h5>

<button onclick = "showPost()">Show Post?</button>

<div class="posthere">
</div>

