// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post {
    padding: 10px;
    margin:10px 0; 
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 90%;
    height: 1100px;
    resize: vertical;
    word-wrap: break-word;
  }
  
  